.content{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}
.hogwarts{
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}
.hogwarts img{
    height: 100%;
    width: 100%;
}
.form{
    font-family: 'Crimson Text', serif;
    background-color: rgba(0,0,0,0.6);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.form ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.form li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}
.form li,h2{
    color: #fff;
}
.form h2{
    text-align: center;
}
.form input{
    margin: 7px 7px 7px 0;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(37, 28, 28);
    color: #fff;
    font-size: 15px;
}
.form button{
    align-self: center;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    margin-top: 30px;
    background-color: rgb(54, 33, 33);
    color: #fff;
    transition-duration: 500ms;
}
.form button:hover{
    background-color: rgb(66, 40, 40);
    transition-duration: 500ms;
}





.BloodLineDropDown{
    margin: 7px 7px 7px 0;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(37, 28, 28);
    color: rgb(90, 68, 68);
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-align: left;
    padding-top: 15px;
    max-height: 30px;
    height: 44.667px;
    width: 182.667px;
}
.SelectBloodLine{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
#blood-arrow{
    color:#fff;
    z-index: 99;
    font-size: 25px;
    transition: 0.25s;
    height: fit-content;
    border-radius: 12px;
    position: relative;
    bottom: 5px;
}
#blood-arrow:hover{
    background-color: rgb(90, 68, 68);
    transition: 0.25s;
}
.blood-options-list{
    opacity: 0;
    z-index: 99;
}
.activeblood {
    margin-top: 15px;
    background-color: rgb(37, 28, 28);
    border-radius: 12px;
    padding-left: 0;
    opacity: 1;
    z-index: 100;
}
.activeblood li{
    padding-top: 10px;
    color: rgb(90, 68, 68);
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    z-index: 99;
}
.activeblood li:nth-child(2){
    border: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
}

.activeblood li:hover{
    background-color: rgb(66, 40, 40);
    cursor: pointer;
    border-radius: 12px;
}







.HouseDropDown{
    margin: 7px 7px 7px 0;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(37, 28, 28);
    color: rgb(90, 68, 68);
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-align: left;
    padding-top: 15px;
    max-height: 30px;
    height: 44.667px;
    width: 182.667px;
}
.SelectHouse{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
#house-arrow{
    color:#fff;
    z-index: 99;
    font-size: 25px;
    transition: 0.25s;
    height: fit-content;
    border-radius: 12px;
    position: relative;
    bottom: 5px;
}
#house-arrow:hover{
    background-color: rgb(90, 68, 68);
    transition: 0.25s;
}
.house-options-list{
    opacity: 0;
    z-index: 99;
}
.activehouse {
    margin-top: 15px;
    background-color: rgb(37, 28, 28);
    border-radius: 12px;
    padding-left: 0;
    opacity: 1;
    z-index: 99;
}
.activehouse li{
    padding-top: 10px;
    color: rgb(90, 68, 68);
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    z-index: 99;
}
.activehouse li:nth-child(2){
    border: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
}
.activehouse li:nth-child(3){
    border: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
}
.activehouse li:hover{
    background-color: rgb(66, 40, 40);
    cursor: pointer;
    border-radius: 12px;
}